*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}


}
a {
    text-decoration: none;
    display: inline-block;
    cursor: none;
}
ul {
    list-style: none;
}
p:nth-child(2) {
    padding-top: 25px;
}
p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
}
.header {
    background-image: url('../images/header-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}
.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -1.65px;
    color: #242121;
}
.header__top {
    background-color: #ffffff;
}
.header__top-inner {
    /* max-width: 1350px; */
    
    margin: 0 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
}
.logo__img {
    width: 42px;
    height: 42px;
}
.menu {
    align-items: center;
}
.menu__list-item {
    display: inline-block;
    justify-content: space-between;
    margin-left: 35px;
}
.menu__link {
    padding: 13px 8px;
    font-family: Raleway;
    font-size: 12px;
    line-height: 14px;
    color: #373A39;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.menu__link:hover {
    border-bottom: 2px solid #FCBB08;
}
.menu__link--active {
    border-bottom: 2px solid #FCBB08;
}
.header__content {
    height: calc(100vh-94px);
}
.header__content-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50rem;
    /* padding: auto 0; */
    /* transform: translateY(-50%); */
    
    text-align: center;
    position: relative;
}
.header__content-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 100px;
    line-height: 122px;
    color: #FFFFFF;
}
.header__content-description {
    margin-top: 19px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.74286px;
    color: #FCBB08;
}
.header__content-decor {
    position: absolute;
    display: block;
    background-image: url('../images/mouse-header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 26px;
    height: 43px;
    bottom: 15px;
}
.about {
    background-color: #F6F8FA;
    height: 491px;
}
.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 135px;
}
.about__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 48px;
    line-height: 75px;
    letter-spacing: -1.65px;
    color: #242121;
    width: 344px;
    margin-top: -130px;
    position: relative;
}
.about__title::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #FCBB08;
    left: 0;
    bottom: -14px;
    /* z-index: 5; */
}
.about__text {
    width: 770px;
    font-family: Open Sans;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
}
.expertise {
    background-color: #ffffff;
    height: 877px;
}
.expertise__title {
    position: relative;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -1.65px;
    color: #242121;
    display: inline-block;
    margin-top: 143px;
    margin-left: 135px;
}
.expertise__title::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #FCBB08;
    left: 0;
    bottom: -14px;
}
.expertise__title::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 74px;
    background-color: #ffffff;
    right: 0;
}
.expertise__content {
    margin-top: 107px;
    display: flex;
    justify-content: space-between;
    padding: 0 135px;
}
.expertise__content-items {
    margin-right: 30px;
    flex-direction: column;
}
.expertise__content-item {
    width: 370px;
    height: 24px;
    position: relative;
    font-family: Open Sans;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #1D1D1D;
    margin-bottom: 28px;
    padding-top: 5px;
}
.expertise__content-item::after {
    content: '';
    position: absolute;
    /* background-color: red; */
    
    background-image: url('../images/scale-1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* bottom: 0; */
    /* z-index: 5; */
    
    height: 2px;
    width: 370px;
    left: 0;
    top: 0;
}
.expertise__content-item:nth-child(2)::after {
    background-image: url('../images/scale-2.png');
}
.expertise__content-item:nth-child(3)::after {
    background-image: url('../images/scale-3.png');
}
.expertise__content-item::before {
    content: '90%';
    position: absolute;
    right: 1.2rem;
}
.expertise__content-item:nth-child(2)::before {
    content: '80%';
    position: absolute;
    right: 3.5rem;
}
.expertise__content-item:nth-child(3)::before {
    content: '85%';
    position: absolute;
    right: 2.5rem;
}
.expertise__content-text {
    width: 770px;
    font-family: Open Sans;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
}
.expertise__items {
    margin-top: 107px;
    display: flex;
    justify-content: space-between;
    padding: 0 135px;
}
.expertise__item {
    display: flex;
    flex-direction: row;
    margin-right: 27px;
}
.expertise__item:nth-child(3) {
    margin-right: 0;
}
.expertise__item-img {
    width: 50px;
    height: 50px;
    margin-right: 35px;
}
.expertise__item-title {
    font-family: Raleway;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 4.29px;
    color: #333333;
}
.expertise__item-text {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-top: 15px;
}
.features {
    background-color: #F6F8FA;
    height: 840px;
}
.features__inner {
    position: relative;
    padding: 100px 135px 180px 835px;
    border: 1px solid #000000;
}
.features__inner::before {
    content: '';
    background-image: url('../images/features-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 705px;
    height: 841px;
    display: inline-block;
    left: -1px;
    top: -1px;
}
.features__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -1.65px;
    color: #242121;
    width: 450px;
    height: 168px;
    position: relative;
}
.features__title::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #FCBB08;
    left: 0;
    bottom: -5px;
    /* z-index: 5; */
}
.features__text {
    width: 470px;
    height: 324px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39;
    margin-top: 67px;
}
.portfolio__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px 135px 0px;
}
.portfolio__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -1.65px;
    color: #242121;
    position: relative;
    margin-bottom: 9px;
}
.portfolio__title::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #FCBB08;
    left: 0;
    bottom: -20px;
}
.portfolio__title::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 74px;
    background-color: #ffffff;
    right: -7px;
}
.portfolio__buttons {
    display: flex;
    width: 560px;
    justify-content: space-between;
}
.portfolio__btn {
    border: none;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #333333;
    background-color: #fff;
    border-bottom: 1px solid transparent;
    transition: all .5s;
    cursor: pointer;
}
.portfolio__btn--active {
    border-bottom: 1px solid #FCBB08;
}
.portfolio__btn:hover {
    border-bottom: 1px solid #FCBB08;
}
.portfolio__items {
    margin-top: 103px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    
    height: 912px;
    /* max-width: 1440px; */
    /* align-items: center; */
}
.portfolio__item-img {
    background: #EDEDED;
    width: 343px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .3s;
}
.portfolio__item-img:nth-child(1) {
    height: 494px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.portfolio__item-img:nth-child(2) {
    height: 395px;
    margin-top: 23px;
}
.portfolio__item-img:nth-child(3) {
    height: 288px;
}
.portfolio__item-img:nth-child(4) {
    height: 288px;
    margin-top: 22px;
}
.portfolio__item-img:nth-child(5) {
    height: 292px;
    margin-top: 22px;
}
.portfolio__item-img:nth-child(6) {
    height: 367px;
}
.portfolio__item-img:nth-child(7) {
    height: 523px;
    margin-top: 22px;
}
.portfolio__item-img:nth-child(8) {
    height: 318px;
}
.portfolio__item-img:nth-child(9) {
    height: 572px;
    margin-top: 22px;
}
.portfoliio__item-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    display: none;
}
.portfolio__item-descr {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    display: none;
}
.portfolio__item-img:hover {
    background: linear-gradient(0deg, rgba(36, 33, 33, 0.8), rgba(36, 33, 33, 0.8)), #EDEDED;
    border: 12px solid rgba(255, 255, 255, 0.147164);
}
.portfolio__item-img:hover .portfolio__item-descr {
    display: block;
}
.portfolio__item-img:hover .portfoliio__item-title {
    display: block;
}
.portfolio__btn-all {
    display: flex;
    margin-top: 72px;
    width: 1440px;
    height: 100px;
    background-color: #F6F8FA;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.2px;
    color: #242121;
}
.video__content-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
}
.video__quotes {
    font-family: Merriweather;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    color: #242121;
    width: 650px;
    height: 72px;
    text-align: center;
}
.video__quotes-author {
    font-family: Merriweather;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 32px;
    color: #9E9E9E;
    width: 116px;
    height: 32px;
    margin-top: 50px;
}
.video__content {
    width: 1440px;
    height: 324px;
    background-color: #9E9E9E;
    margin: 0 auto;
    margin-top: 148px;
    display: flex;
    background-image: url('../images/video-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.video__content::after {
    content: '';
    position: absolute;
    width: 55px;
    height: 65px;
    background-image: url('../images/video-play.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
